# EcoWayer API — OpenAPI 3.0.3
# Gerado a partir de Modelo-Logico-Ecowayer.mwb (MySQL Workbench, versão atualizada em 01/10/2026) + messages.js (padrão de respostas)
# Importar direto no Swagger Editor / Swagger UI / Postman.

# ============================================================
# OPENAPI
# ============================================================
openapi: 3.0.3
info:
  title: EcoWayer API
  description: API do EcoWayer — marketplace gamificado de reciclagem. Documentação gerada a partir do
    modelo lógico MySQL Workbench (Modelo-Logico-Ecowayer.mwb, atualizado em 01/10/2026) e do módulo de
    mensagens padrão da API (messages.js), de autoria de Maxwillian Santana. Toda resposta segue o envelope
    { status, status_code, message, response }.
  version: 1.0.7.26
  contact:
    name: Maxwillian Santana
# ============================================================
# SERVIDORES
# ============================================================
servers:
- url: https://api.ecowayer.com.br/v1
  description: Produção (exemplo)
- url: http://localhost:3000/v1
  description: Desenvolvimento local
# ============================================================
# TAGS
# ============================================================
tags:
- name: Usuarios
  description: Cadastro de usuários, e-mails, telefones, endereços e contas
- name: Anuncios
  description: Anúncios de itens para venda, troca ou doação, condição do item e modalidades
- name: Categorias
  description: Categorias e tipos de categoria dos itens
- name: Pagamentos
  description: Pagamentos de anúncios em modalidade venda
- name: Entregas
  description: Entregas de anúncios, comprovantes e QR Codes
- name: Avaliacoes
  description: Avaliações do usuário sobre uma entrega
- name: Conversas
  description: Chat entre comprador e anunciante
- name: Denuncias
  description: Denúncias de anúncios/usuários
- name: Midia
  description: Upload e vínculo de imagens
- name: PontoColeta
  description: Pontos físicos de coleta, endereços e materiais aceitos
- name: Gamificacao
  description: Insígnias, pontos e níveis de impacto
- name: Vouchers
  description: Vouchers de parceiros resgatados com pontos e seus QR Codes
- name: IA
  description: Modelos de IA, datasets e treinamentos
- name: Moderacao
  description: Alertas automáticos gerados pela IA
- name: Administradores
  description: Contas administrativas
# ============================================================
# SEGURANÇA GLOBAL
# ============================================================
security:
- bearerAuth: []
# ============================================================
# PATHS
# ============================================================
paths:
  # --------------------------------------------------------
  # USUÁRIOS
  # --------------------------------------------------------
  /usuarios:
    post:
      tags:
      - Usuarios
      summary: Cadastrar novo usuário
      description: id_status_usuario e id_nivel_impacto são definidos pelo backend com valores padrão.
        id_imagem é setado depois, via endpoint de upload de foto. cpf aceita até 18 caracteres (com ou
        sem máscara).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioInput'
            example:
              nome: João Silva
              cpf: 123.456.789-01
              data_nascimento: '2005-10-15'
              id_genero: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Usuario'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Usuarios
      summary: Listar usuários
      parameters:
      - &id003
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - &id004
        name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Lista de usuários
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Usuario'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{id}:
    get:
      tags:
      - Usuarios
      summary: Obter usuário por id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      $ref: '#/components/schemas/Usuario'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    put:
      tags:
      - Usuarios
      summary: Atualizar dados cadastrais do usuário (nome, cpf, data_nascimento, id_genero)
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioInput'
            example:
              nome: João Silva
              cpf: 123.456.789-01
              data_nascimento: '2005-10-15'
              id_genero: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro atualizado com um sucesso!
                    response:
                      $ref: '#/components/schemas/Usuario'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    delete:
      tags:
      - Usuarios
      summary: Remover (ou inativar) usuário
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    message:
                      type: string
                      example: Registro Deletado com um sucesso!
                    response:
                      type: object
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{idUsuario}/emails:
    post:
      tags:
      - Usuarios
      summary: Vincular e-mail ao usuário
      description: id_usuario vem da rota. codigo_verificacao (CHAR 6) é gerado pelo backend para o fluxo
        de verificação; o controle de tentativas/reenvio/bloqueio fica em tbl_verificacao (vinculada via
        tbl_email_verificacao).
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário dono do e-mail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailInput'
            example:
              email: joao@email.com
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Email'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /emails/{idEmail}/verificar:
    post:
      tags:
      - Usuarios
      summary: Confirmar código de verificação de e-mail
      description: Compara o código enviado com codigo_verificacao. O backend registra tentativas, reenvio
        e bloqueio temporário em tbl_verificacao (tbl_email_verificacao).
      parameters:
      - name: idEmail
        in: path
        required: true
        schema:
          type: integer
        description: ID do e-mail a verificar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificacaoCodigoInput'
            example:
              codigo: '482913'
      responses:
        '200':
          description: E-mail verificado com sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    message:
                      type: string
                      example: E-mail verificado com sucesso!
                    response:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{idUsuario}/telefones:
    post:
      tags:
      - Usuarios
      summary: Vincular telefone ao usuário
      description: codigo_verificacao (CHAR 6) é gerado pelo backend e enviado por SMS.
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário dono do telefone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelefoneInput'
            example:
              numero: '11987654321'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Telefone'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /telefones/{idTelefone}/verificar:
    post:
      tags:
      - Usuarios
      summary: Confirmar código de verificação de telefone (SMS)
      description: Compara o código enviado com codigo_verificacao. O backend registra tentativas, reenvio
        e bloqueio temporário em tbl_verificacao (tbl_telefone_verificacao).
      parameters:
      - name: idTelefone
        in: path
        required: true
        schema:
          type: integer
        description: ID do telefone a verificar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificacaoCodigoInput'
            example:
              codigo: '731205'
      responses:
        '200':
          description: Telefone verificado com sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    message:
                      type: string
                      example: Telefone verificado com sucesso!
                    response:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{idUsuario}/enderecos:
    post:
      tags:
      - Usuarios
      summary: Cadastrar endereço do usuário
      description: 'O endereço agora é independente do usuário: o backend grava o registro em tbl_endereco
        (preenchendo id_externa) e cria o vínculo em tbl_endereco_usuario (id_usuario vem da rota), preferencialmente
        na mesma transação.'
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário dono do endereço
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnderecoInput'
            example:
              cep: 01310-100
              rua: Av. Paulista, 1000
              bairro: Bela Vista
              cidade: São Paulo
              estado: São Paulo
              sigla: SP
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Endereco'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Usuarios
      summary: Listar endereços do usuário
      description: Busca via tbl_endereco_usuario (JOIN com tbl_endereco).
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Endereco'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /contas:
    post:
      tags:
      - Usuarios
      summary: Criar conta/credencial vinculada a um e-mail já cadastrado
      description: senha é recebida em texto puro no request, mas deve ser convertida em hash pelo backend
        antes de gravar (VARCHAR 255). Nunca retornada no response (writeOnly).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContaInput'
            example:
              id_email: 1
              senha: SenhaForte123
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Conta'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # CATEGORIAS
  # --------------------------------------------------------
  /categorias:
    post:
      tags:
      - Categorias
      summary: Cadastrar categoria (define quantos pontos ela vale)
      security: &id001
      - bearerAuth:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriaInput'
            example:
              nome: Plástico PET
              pontos: 10
              id_tipo_categoria: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Categoria'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Categorias
      summary: Listar categorias
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Categoria'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /tipos-categoria:
    post:
      tags:
      - Categorias
      summary: Cadastrar tipo de categoria
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipoCategoriaInput'
            example:
              nome: Reciclável
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/TipoCategoria'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Categorias
      summary: Listar tipos de categoria
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/TipoCategoria'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # ANÚNCIOS · REFERÊNCIAS
  # --------------------------------------------------------
  /modalidades:
    post:
      tags:
      - Anuncios
      summary: Cadastrar modalidade (venda/troca/doação)
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModalidadeInput'
            example:
              nome: Venda
              id_tipo_modalidade: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Modalidade'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Anuncios
      summary: Listar modalidades
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Modalidade'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /tipos-modalidade:
    post:
      tags:
      - Anuncios
      summary: Cadastrar tipo de modalidade
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipoModalidadeInput'
            example:
              tipo: Financeira
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/TipoModalidade'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Anuncios
      summary: Listar tipos de modalidade
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/TipoModalidade'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /condicoes-item:
    post:
      tags:
      - Anuncios
      summary: 'Cadastrar condição do item (ex.: novo, usado)'
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CondicaoItemInput'
            example:
              nome: Usado - bom estado
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/CondicaoItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Anuncios
      summary: Listar condições do item
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/CondicaoItem'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # MÍDIA / DENÚNCIAS · REFERÊNCIAS
  # --------------------------------------------------------
  /tipos-imagem:
    post:
      tags:
      - Midia
      summary: Cadastrar tipo de imagem
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipoImagemInput'
            example:
              tipo: Foto de anúncio
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/TipoImagem'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Midia
      summary: Listar tipos de imagem
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/TipoImagem'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /tipos-denuncias:
    post:
      tags:
      - Denuncias
      summary: Cadastrar tipo de denúncia
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipoDenunciasInput'
            example:
              tipo: Conteúdo impróprio
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/TipoDenuncias'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Denuncias
      summary: Listar tipos de denúncia
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/TipoDenuncias'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # USUÁRIOS · REFERÊNCIAS
  # --------------------------------------------------------
  /generos:
    post:
      tags:
      - Usuarios
      summary: Cadastrar gênero (tabela de referência)
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneroInput'
            example:
              nome: Masculino
              sigla: M
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Genero'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Usuarios
      summary: Listar gêneros
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Genero'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /status-usuario:
    post:
      tags:
      - Usuarios
      summary: Cadastrar status de usuário possível (tabela de referência)
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUsuarioInput'
            example:
              status: ativo
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/StatusUsuario'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Usuarios
      summary: Listar status de usuário
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/StatusUsuario'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # GAMIFICAÇÃO · REFERÊNCIAS
  # --------------------------------------------------------
  /niveis-impacto:
    post:
      tags:
      - Gamificacao
      summary: Cadastrar nível de impacto (progresso geral do usuário no app)
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NivelImpactoInput'
            example:
              nome: Semente
              numero: 1
              meta: 10.0
              unidade: kg
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/NivelImpacto'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Gamificacao
      summary: Listar níveis de impacto
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/NivelImpacto'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # IA / PONTOS DE COLETA · REFERÊNCIAS
  # --------------------------------------------------------
  /datasets:
    post:
      tags:
      - IA
      summary: Cadastrar dataset usado no treinamento da IA
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetInput'
            example:
              nome: Dataset de resíduos v1
              descricao: Imagens rotuladas de materiais recicláveis
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Dataset'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - IA
      summary: Listar datasets
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Dataset'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /materiais-aceitos:
    post:
      tags:
      - PontoColeta
      summary: Cadastrar material aceito em pontos de coleta
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialAceitoInput'
            example:
              nome: Vidro
              icone: https://cdn.ecowayer.com.br/icones/vidro.svg
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/MaterialAceito'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - PontoColeta
      summary: Listar materiais aceitos
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/MaterialAceito'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ia:
    post:
      tags:
      - IA
      summary: Cadastrar modelo de IA
      description: 'status (ativo | inativo | treinando) e id_externo são preenchidos/atualizados pelo
        backend a partir do provedor de IA (ex.: Azure).'
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IaInput'
            example:
              nome: EcoVision
              provedor: Azure
              versao: '1.2'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Ia'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - IA
      summary: Listar modelos de IA cadastrados
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Ia'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /treinamentos-ia:
    post:
      tags:
      - IA
      summary: Registrar um treinamento de IA com um dataset
      description: status (pendente | em_andamento | concluido | erro) e id_externo são preenchidos pelo
        backend com o retorno do processo de treinamento.
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TreinamentoIaInput'
            example:
              id_ia: 1
              id_dataset: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/TreinamentoIa'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # GAMIFICAÇÃO
  # --------------------------------------------------------
  /insignias:
    post:
      tags:
      - Gamificacao
      summary: Cadastrar insígnia
      description: 'ATENÇÃO: diferente das demais tabelas, a coluna id de tbl_insignia NÃO é AUTO_INCREMENT
        no modelo — por isso o id é enviado manualmente no cadastro (funciona como um código de insígnia
        definido por quem cadastra). Confirme se essa é realmente a intenção do projeto ou se falta marcar
        AUTO_INCREMENT no banco.'
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsigniaInput'
            example:
              id: 1
              nome: Primeira doação
              descricao: Concluiu a primeira doação
              meta: 1
              unidade: doação
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Insignia'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Gamificacao
      summary: Listar insígnias
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Insignia'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{idUsuario}/insignias:
    get:
      tags:
      - Gamificacao
      summary: Consultar progresso de insígnias do usuário
      description: 'Não existe POST manual: tbl_usuario_insignia é criada/atualizada automaticamente pelo
        backend conforme o progresso do usuário. status: em_andamento | concluido.'
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/UsuarioInsignia'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /usuarios/{idUsuario}/pontos:
    get:
      tags:
      - Gamificacao
      summary: Consultar pontuação acumulada do usuário por categoria
      description: tbl_pontos é gerada automaticamente pelo backend a cada ação concluída — não existe
        cadastro manual.
      parameters:
      - name: idUsuario
        in: path
        required: true
        schema:
          type: integer
        description: ID do usuário
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Pontos'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /vouchers:
    post:
      tags:
      - Vouchers
      summary: Resgatar voucher com pontos
      description: 'id_usuario vem do usuário autenticado. codigo, data_resgate, data_expiracao e status
        (ativo | utilizado | expirado | cancelado) são definidos pelo backend. O modelo não possui catálogo
        de benefícios: tbl_voucher guarda o resgate já realizado.'
      security: &id002
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherInput'
            example:
              nome_parceiro: Parceiro Verde
              beneficio: 10% de desconto
              pontos_utilizados: 100
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Voucher'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Vouchers
      summary: Listar vouchers do usuário autenticado
      security: *id002
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Voucher'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /vouchers/{idVoucher}/qr-code:
    post:
      tags:
      - Vouchers
      summary: Gerar QR Code do voucher
      description: Sem body. O backend gera o registro em tbl_qr_code e cria o vínculo em tbl_qr_code_voucher
        (id_voucher vem da rota).
      security: *id002
      parameters:
      - name: idVoucher
        in: path
        required: true
        schema:
          type: integer
        description: ID do voucher
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/QrCode'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # PONTOS DE COLETA
  # --------------------------------------------------------
  /pontos-coleta:
    post:
      tags:
      - PontoColeta
      summary: Cadastrar ponto de coleta
      description: 'status (ativo | inativo) é definido pelo backend ("ativo" ao criar). latitude e longitude
        são opcionais (aceitam NULL; DECIMAL(9,6)). O endereço NÃO faz mais parte do cadastro do ponto:
        é vinculado depois em /pontos-coleta/{idPontoColeta}/enderecos (tbl_endereco_ponto_coleta). Os
        materiais aceitos são vinculados em /pontos-coleta/{idPontoColeta}/materiais.'
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PontoColetaInput'
            example:
              nome: Ecoponto Bela Vista
              descricao: Ponto de coleta de recicláveis
              id_categoria: 1
              longitude: -46.634489
              latitude: -23.561414
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/PontoColeta'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - PontoColeta
      summary: Listar pontos de coleta
      parameters:
      - name: id_categoria
        in: query
        schema:
          type: integer
        description: Filtrar por categoria
      - name: id_material_aceito
        in: query
        schema:
          type: integer
        description: Filtrar por material aceito
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ativo
          - inativo
      - name: latitude
        in: query
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/PontoColeta'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /pontos-coleta/{idPontoColeta}/materiais:
    post:
      tags:
      - PontoColeta
      summary: Vincular material aceito a um ponto de coleta
      security: *id001
      parameters:
      - name: idPontoColeta
        in: path
        required: true
        schema:
          type: integer
        description: ID do ponto de coleta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PontoColetaMaterialAceitoInput'
            example:
              id_material_aceito: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/PontoColetaMaterialAceito'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - PontoColeta
      summary: Listar materiais aceitos por um ponto de coleta
      parameters:
      - name: idPontoColeta
        in: path
        required: true
        schema:
          type: integer
        description: ID do ponto de coleta
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/PontoColetaMaterialAceito'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /pontos-coleta/{idPontoColeta}/enderecos:
    post:
      tags:
      - PontoColeta
      summary: Cadastrar endereço de um ponto de coleta
      description: NOVO (modelo atualizado). O backend grava o registro em tbl_endereco (preenchendo id_externa)
        e cria o vínculo em tbl_endereco_ponto_coleta (id_ponto_coleta vem da rota).
      security: *id001
      parameters:
      - name: idPontoColeta
        in: path
        required: true
        schema:
          type: integer
        description: ID do ponto de coleta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnderecoInput'
            example:
              cep: 01310-100
              rua: Av. Paulista, 1000
              bairro: Bela Vista
              cidade: São Paulo
              estado: São Paulo
              sigla: SP
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Endereco'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - PontoColeta
      summary: Listar endereços de um ponto de coleta
      description: Busca via tbl_endereco_ponto_coleta (JOIN com tbl_endereco).
      parameters:
      - name: idPontoColeta
        in: path
        required: true
        schema:
          type: integer
        description: ID do ponto de coleta
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Endereco'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # MÍDIA
  # --------------------------------------------------------
  /imagens:
    post:
      tags:
      - Midia
      summary: Enviar imagem (upload)
      description: 'url NÃO é enviada pelo cliente: o backend recebe o arquivo binário, faz upload para
        o storage e grava a URL resultante (VARCHAR 255). Este endpoint aceita multipart/form-data.'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                arquivo:
                  type: string
                  format: binary
                id_tipo_imagem:
                  type: integer
              required:
              - arquivo
              - id_tipo_imagem
      responses:
        '201':
          description: Imagem enviada e registrada
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Imagem'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /anuncios/{idAnuncio}/imagens:
    post:
      tags:
      - Anuncios
      summary: Vincular imagem já enviada a um anúncio
      parameters:
      - name: idAnuncio
        in: path
        required: true
        schema:
          type: integer
        description: ID do anúncio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagemAnuncioInput'
            example:
              id_imagem: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/ImagemAnuncio'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Anuncios
      summary: Listar imagens de um anúncio
      parameters:
      - name: idAnuncio
        in: path
        required: true
        schema:
          type: integer
        description: ID do anúncio
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Imagem'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # ANÚNCIOS
  # --------------------------------------------------------
  /anuncios:
    post:
      tags:
      - Anuncios
      summary: Cadastrar anúncio
      description: 'id_usuario vem do usuário autenticado (token), nunca do body. data_publicacao é definida
        pelo backend (NOW()). O status do anúncio não existe em tbl_anuncio: o backend deve registrar
        o status inicial "ativo" em tbl_historico_anuncio junto com o cadastro. id_condicao_item referencia
        tbl_condicao_item. descricao é opcional (aceita NULL).'
      security: *id002
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnuncioInput'
            example: &id005
              nome: Garrafas PET (10 un.)
              descricao: Garrafas limpas, prontas para reciclagem
              id_categoria: 1
              id_modalidade: 1
              id_condicao_item: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Anuncio'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Anuncios
      summary: Listar anúncios
      parameters:
      - name: id_categoria
        in: query
        schema:
          type: integer
      - name: id_modalidade
        in: query
        schema:
          type: integer
      - name: id_condicao_item
        in: query
        schema:
          type: integer
      - *id003
      - *id004
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Anuncio'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /anuncios/{id}:
    get:
      tags:
      - Anuncios
      summary: Obter anúncio por id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      $ref: '#/components/schemas/Anuncio'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    put:
      tags:
      - Anuncios
      summary: Atualizar dados do anúncio (nome, descrição, categoria, modalidade)
      security: *id002
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnuncioInput'
            example: *id005
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro atualizado com um sucesso!
                    response:
                      $ref: '#/components/schemas/Anuncio'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    delete:
      tags:
      - Anuncios
      summary: Remover anúncio
      security: *id002
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    message:
                      type: string
                      example: Registro Deletado com um sucesso!
                    response:
                      type: object
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /anuncios/{id}/status:
    patch:
      tags:
      - Anuncios
      summary: Alterar status do anúncio (gera registro em tbl_historico_anuncio)
      description: 'id_anuncio e data_alteracao são preenchidos pelo backend. status é um ENUM no banco:
        ativo | desativado | apagado | negociado.'
      security: *id002
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identificador (PK)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricoAnuncioInput'
            example:
              status: negociado
              detalhes: Negociado com o usuário X
      responses:
        '201':
          description: Status atualizado, histórico registrado
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro atualizado com um sucesso!
                    response:
                      $ref: '#/components/schemas/HistoricoAnuncio'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /anuncios/{idAnuncio}/alertas:
    get:
      tags:
      - Moderacao
      summary: Consultar alertas gerados pela IA para um anúncio
      description: 'Busca via tbl_alertas_anuncio (JOIN com tbl_alertas). tbl_alertas é populada automaticamente
        pela IA (análise de foto/texto) — não existe cadastro manual. status: pendente | revisado | resolvido.'
      parameters:
      - name: idAnuncio
        in: path
        required: true
        schema:
          type: integer
        description: ID do anúncio
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Alertas'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # PAGAMENTOS
  # --------------------------------------------------------
  /anuncios/{idAnuncio}/pagamentos:
    post:
      tags:
      - Pagamentos
      summary: Iniciar pagamento de um anúncio (somente modalidade "venda")
      description: 'Regra de negócio (validada no backend, não no banco): só anúncios com modalidade "venda"
        podem gerar pagamento. id_comprador vem do usuário autenticado. status (pendente | aprovado |
        recusado | estornado | cancelado) e id_externo são preenchidos pelo backend após chamar a API
        de pagamento externa.'
      security: *id002
      parameters:
      - name: idAnuncio
        in: path
        required: true
        schema:
          type: integer
        description: ID do anúncio a ser pago
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PagamentoInput'
            example:
              valor: 49.9
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Pagamento'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /webhooks/pagamento:
    post:
      tags:
      - Pagamentos
      summary: Webhook de atualização de status de pagamento (chamado pela API de pagamento externa, não
        pelo usuário)
      description: 'Atualiza tbl_pagamento e registra a mudança em tbl_historico_pagamento (status: pendente
        | aprovado | recusado | estornado | cancelado).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_externo:
                  type: string
                  maxLength: 255
                status:
                  type: string
                  enum:
                  - pendente
                  - aprovado
                  - recusado
                  - estornado
                  - cancelado
              required:
              - id_externo
              - status
            example:
              id_externo: TXN-9F21
              status: aprovado
      responses:
        '200':
          description: Histórico de pagamento registrado (tbl_historico_pagamento)
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/HistoricoPagamento'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  # --------------------------------------------------------
  # ENTREGAS / QR CODES
  # --------------------------------------------------------
  /anuncios/{idAnuncio}/entregas:
    post:
      tags:
      - Entregas
      summary: Registrar entrega de um anúncio
      description: id_anuncio vem da rota e id_usuario do usuário autenticado (assumido como quem realiza
        a entrega — confirme). status (pendente | concluida | cancelada) começa como "pendente", definido
        pelo backend.
      security: *id002
      parameters:
      - name: idAnuncio
        in: path
        required: true
        schema:
          type: integer
        description: ID do anúncio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntregaInput'
            example:
              peso_estimado: 2.5
              data_entrega: '2026-10-05T14:00:00Z'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Entrega'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /entregas/{idEntrega}:
    get:
      tags:
      - Entregas
      summary: Obter entrega por id
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      $ref: '#/components/schemas/Entrega'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /entregas/{idEntrega}/status:
    patch:
      tags:
      - Entregas
      summary: Alterar status da entrega
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntregaStatusInput'
            example:
              status: concluida
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro atualizado com um sucesso!
                    response:
                      $ref: '#/components/schemas/Entrega'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /entregas/{idEntrega}/imagens:
    post:
      tags:
      - Entregas
      summary: Vincular imagem (comprovante) a uma entrega
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagemEntregaInput'
            example:
              id_imagem: 1
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/ImagemEntrega'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Entregas
      summary: Listar imagens de uma entrega
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Imagem'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /entregas/{idEntrega}/avaliacoes:
    post:
      tags:
      - Avaliacoes
      summary: Avaliar uma entrega
      description: id_entrega vem da rota e id_usuario do usuário autenticado. data_avaliacao é definida
        pelo backend.
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvaliacaoInput'
            example:
              nota: 5
              comentario: Entrega rápida e tranquila
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/Avaliacao'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType415'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
    get:
      tags:
      - Avaliacoes
      summary: Listar avaliações de uma entrega
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      type: array
                      items:
                        $ref: '#/components/schemas/Avaliacao'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /entregas/{idEntrega}/qr-code:
    post:
      tags:
      - Entregas
      summary: Gerar QR Code da entrega
      description: Sem body. O backend gera codigo, data_criacao, data_expiracao e status (ativo | utilizado
        | expirado | cancelado) em tbl_qr_code e cria o vínculo em tbl_qr_code_entrega (id_entrega vem
        da rota; id_anuncio é obtido da entrega).
      security: *id002
      parameters:
      - name: idEntrega
        in: path
        required: true
        schema:
          type: integer
        description: ID da entrega
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 201
                    message:
                      type: string
                      example: Registro inserido com um sucesso!
                    response:
                      $ref: '#/components/schemas/QrCode'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /qr-codes/{idQrCode}:
    get:
      tags:
      - Entregas
      summary: Obter QR Code por id
      security: *id002
      parameters:
      - name: idQrCode
        in: path
        required: true
        schema:
          type: integer
        description: ID do QR Code
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RespostaBase'
                - type: object
                  properties:
                    status:
                      type: boolean
                      example: true
                    status_code:
                      type: integer
                      example: 200
                    response:
                      $ref: '#/components/schemas/QrCode'
        '404':
          $ref: '#/components/responses/NotFound404'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /qr-codes/leituras:
    post:
      tags:
      - Entregas
      summary: Registrar leitura de um QR Code
      description: id_usuario vem do usuário autenticado. O backend localiza o QR Code pelo codigo, define
[...]
